<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39473364364-5t9itreak49asijtfq7vnlgdfr99mtkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39473364364-5t9itreak49asijtfq7vnlgdfr99mtkq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39473364364-m9m6u48q3ch3o06usf783e4t6rc5979n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlLTuxTR4DZLbMRgx8-b9So6l8na3SkFo</string>
	<key>GCM_SENDER_ID</key>
	<string>39473364364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitHup</string>
	<key>PROJECT_ID</key>
	<string>furits-hup</string>
	<key>STORAGE_BUCKET</key>
	<string>furits-hup.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39473364364:ios:fc5c1dc5bc0f018796aaa9</string>
</dict>
</plist>